@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
  
}

.bg img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
}
.navbar{
    position: relative;
    content: '';
    top: 0px;
    left: 0px;
    z-index: 1;
    color: #000;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: #fff;
   
    overflow: hidden;
    border-spacing: 5px;
    padding: 12px;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
          opacity: .8;
}
    .navbar .navbar-nav .nav-item .nav-link::after {
        content: '';
        width: 0%;
        background: #fff;
        display: block;
        margin: auto;
        height: 2px;
        transition: 0.5s;
    }
    .navbar .navbar-nav .nav-item:hover .nav-link::after{
        width: 100%;
        transform: translate3d(30px);
    }
    
   
   

@media (max-width:750px){
    .navbar .navbar-nav .nav-item .nav-link{
        color: #fff;
        border: none;
        text-align: right;
        padding: 12px;
        position: relative;
    } 
    .navbar .navbar-nav .nav-item .btn{
        align-items: right;
        text-align: left;
        margin-left: 350px;
    } 
}



.navbar .navbar-nav .nav-item  .dd{
    border-right: none;
}
.navbar .navbar-nav .nav-item .btn{
    background: none;
    color: #fff;
    margin-top: 3px;
    background: #1779A7;
}
.navbar .navbar-nav .nav-item .btn:hover{
    opacity: .6;
}
.text{
    position: relative;
    content: '';
    color: #fff;
    top: 130px;
    padding-left: 150px;
}
.text h1{
    font-size: 110px;
    padding-left: 45px;
    font-weight: bold;
    position: relative;
   
    animation: dd 1.5s forwards;
      
    }
    @keyframes dd{
        0%{transform: translate(0%,-300%);}
        100%{transform: translate(5%,0);}
    }

   
.text h2{
    text-align: center;
    padding-right: 145px;
    font-weight: 400;
    font-size: 35px;
    animation: cc 1.5s  forwards, 5s 5s forwards;
    position: relative;
}
@keyframes cc {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(5%, 0);
    }
}
.text img{
    padding-left: 906px;
    padding-bottom: 220px;
}



/* card */
.card{
    padding-top: 30px;
    width: 100%;
    border: none;
    animation: ff 2.5s forwards;
      
    }
    @keyframes ff{
        0%{transform: translate(100%,0%);}
        100%{transform: translate(0%,0%);}
    }

.card .fa-solid{
    font-size: 30px;
    margin-top: -40px;
    border-radius: 50%;
    padding: 10px;
    background: #3071A1;
   
}
.card .card_item{
    background-color: #98BF64;
    color: #fff;
    padding: 10px;
}
.card h2{
    font-size: 30px;
    font-weight: 400;
}


/* atention */
.atention p{
    font-size: 35px;
    font-weight: 200;
}
.atention ul{
    list-style: none;
    display: block;
    line-height: 40px;
    text-align: center;
    align-items: center;
    animation: ff 2.5s forwards;
      
}
@keyframes ff{
    0%{transform: translate(100%,0%);}
    100%{transform: translate(0%,0%);}
}
.atention .fa-solid{
    color: #98BF64;
    font-weight: 220px;
    font-size: 20px;
    padding-right: 10px;
}



/* checkhouse */
.checkhouse .fa-solid{
    color: #98BF64;
    border: 4px solid #98BF64;
    padding: 30px;
    font-size: 70px;
    border-radius: 50%;
}




/* need */

.need .cc{
    background: #5FBBDA;
    padding: 20px;
    padding-left: 30px;
   
}
.need .dd{
    padding-left: 0px;
}
.need .fa-solid{
    font-size: 50px;
   
   
}
.need h3{
    font-weight: 300;
}
::marker{
    color: #fff;
    padding-left: 50px;
}
.need ul{
    line-height: 40px;
    color: #fff;
}


/* ready */

   


.ready{
   background-image: url(img/bg_bike.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
}
.ready .box{
    background: #fff;
    width: 490px;
    height: 500px;
    padding: 130px 40px 0 50px;
    line-height: 40px;
    margin-left: 555px;
    opacity: .7;
}
.ready h3{
    font-weight: 300;
    font-size: 45px;
}



/* modern */
.modern{
    padding: 40px 140px;
    background: #98BF64;
    color: #fff;
}
.modern h3{
    text-align: left;
    font-weight: 350;
}
.modern p{
    font-weight: 300;
    font-size: 20px;
}
.modern ul{
    list-style: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    padding-left: 120px;
}
.modern .fa-solid{
    font-size: 20px;
    padding-right: 15px;
    
}


/* simple */
.simple {
    position: relative;

}
.simple h3{
    font-size: 30px;
    font-weight: 300;
}
.simple .flat{
    position: absolute;
   
    padding-top: 80px;
    padding-left: 430px;
    text-align: left;
    padding-right: 100px;
    font-size: 26px;
    letter-spacing: 2px;
    color: #1688B0;
}
.simple span{
    color: #fff;
    font-size: 65px;
    font-weight: 400;
}
.simple .btn_hero{
    position: absolute;
    top: 160px;
    color: #fff;
    opacity: .8;
    border: 1px solid #1688B0;
    left: 300px;
    border-radius: 50%;
    font-size: 25px;
    padding: 15px 30px 15px 30px;
  background: #1688B0;
}
.simple button:hover{
    transform: scale(1.3);
    background: #1688B0;
    color: #fff;
}
.simple .affort{
    position: absolute;
    top: 350px;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    left: 440px;
}
.simple .sign{
    position: absolute;
    top: 450px;
    left: 560px;
    background: #D0680C;
    border: 1px solid #D0680C;
    padding: 10px 40px;
    border-radius: 20px;
}




/* footer */
.footer{
    background: url(img/footer_bg_img.jfif);
    width: 100%;
    height: 350px;
    align-items: center;
    text-align: center;
    padding: 150px 30px;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 400px;
    background-attachment: fixed;
    
}




/* slick slider */

.slick{
    width: 100%;
    padding-left: 360px;
    padding-right: 360px;
    background: #2F4F4F;
    color: #fff;
}
.slick .details img{
   background-repeat: no-repeat;
   width: 130px;
   height: 250px;
   background-size: contain;
   padding-bottom: 80px;
   
}
.slick .follow_us ul{
    list-style: none;
    padding-right: 30px;
}
.slick .follow_us li{
    display: inline;
}
.slick .follow_us a{
    font-size: 30px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.slick .follow_us i:hover{
    transform: scale(1.3);
}